.main-nav {
  background: url("../img/header_bg.webp");
  background-repeat: repeat-x;
}

.main-nav__container {
  display: grid;
  gap: 30px;
  padding-top: 76px;

  @media (min-width: 800px) {
    grid-template-columns: max-content 1fr;
  }
}

.main-nav__bar {
  display: grid;
  gap: 27px;
  justify-content: center;
  padding-top: 43px;

  @media (min-width: $desktop) {
    grid-template-columns: 1fr max-content;
    justify-content: start;
  }
}

.main-nav__bar-content {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  justify-items: flex-end;
  align-items: start;
  margin: 0;

  span:nth-child(3) {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;

    @media (min-width: 800px) {
      color: white;
    }
  }

  .main-nav__bar-log,
  .main-nav__bar-reg {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: $red;
  }
}

.main-nav__bar-text {
  max-width: max-content;
  margin-left: auto;
  text-align: center;

  @media (min-width: 800px) {
    text-align: start;
  }
}

.header__top {
  background-color: black;
  color: white;
}
