<footer class="blackTop">
  <div class="container">
    <div class="footerGrid">
      <div class="col">
        <div class="footerLogo">
          <img src="https://nuxsite1.nuxbet.com/img/logo_footer.png" alt="Nux" title="Nux">
        </div>
        <div class="colInner">
          <ul class="contacts">
            <li><a href="mailto:info@nuxgame.com">info@nuxgame.com</a></li>
          </ul>
          <ul class="footerIcons">
            <li>
              <img src="https://nuxsite1.nuxbet.com/img/icons/18_years.svg" alt="18 years" title="18 years">
            </li>
            <li>
              <img src="https://nuxsite1.nuxbet.com/img/icons/ssl.svg" alt="SSL" title="SSL">
            </li>
            <li>
              <img src="https://nuxsite1.nuxbet.com/img/icons/gambleaware.svg" alt="Gambleaware" title="Gambleaware">
            </li>
          </ul>
        </div>
        <div class="colInner margin">
          <p class="copyWrites">The website is owned and operated by Nuxgen B.V., with registration number 153051 and
            registered address at Fransche Bloemweg 4, Curacao.</p>
          <p class="copyWrites">© 2021 Nuxgen B.V. All rights reserved.</p>
        </div>
      </div>
      <div class="col">
        <h4>MENU</h4>
        <ul class="footerNav">
          <li><a href="/products">Products</a></li>
          <li><a href="/solutions">Solutions</a></li>
          <li><a href="/games">Games</a></li>
          <li><a href="/prices">Pricing</a></li>
          <li><a href="/demo">Demo</a></li>
          <li><a href="/about-us">About us</a></li>
          <li><a href="/blog" class="">Blog</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <h4>INFO</h4>
        <ul class="footerNav">
          <li><a href="/terms-and-conditions">Terms and Conditions</a>
          </li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="/cookie-policy">Cookie Policy</a>
          </li>
          <li><a href="/responsible-gambling">Responsible Gambling</a>
          </li>
          <li><a href="/contact-us">Contact Us</a></li>
        </ul>
      </div>
      <div class="col flex">
        <div class="divWrap">
          <h4>GUIDES</h4>
          <ul class="footerNav">
            <li><a href="/terms-and-conditions">How to Start an Online
                Casino</a>
            </li>
            <li><a href="/privacy-policy">How to Start an Online Betting
                Business</a></li>
          </ul>
        </div>
        <div class="divWrap">
          <ul class="footerAppWrap">
            <li>
              <div id="apg-be5b7d95-1bfc-4f92-b5e1-ec5c7ae3eba6" data-apg-seal-id="be5b7d95-1bfc-4f92-b5e1-ec5c7ae3eba6"
                data-apg-image-size="128" data-apg-image-type="basic-small">
                <div
                  style="display: block;position: relative;overflow: hidden;max-width: 128px;min-width: 32px; background-image: url(https://be5b7d95-1bfc-4f92-b5e1-ec5c7ae3eba6.snippet.antillephone.com/54f396e0-b046-49b1-9cb3-0c69281d7ea9-beacon.png);">
                  <a target="_blank" rel="nofollow, noopener"
                    href="https://validator.antillephone.com/validate?domain=nuxsite1.nuxbet.com&amp;seal_id=30592353974c576df56a0705c9e615cd62614b633608f72cc71b2b1a66ab6cfa1309573cbb3e119cee9aea6d48bb15a3&amp;stamp=9f0610c5bace5eec362aa75f16c39d53"><img
                      alt="" style="width: 100%; height: auto"
                      src="https://be5b7d95-1bfc-4f92-b5e1-ec5c7ae3eba6.snippet.antillephone.com/sealassets/9f0610c5bace5eec362aa75f16c39d53-nuxsite1.nuxbet.com-30592353974c576df56a0705c9e615cd62614b633608f72cc71b2b1a66ab6cfa1309573cbb3e119cee9aea6d48bb15a3-c2VhbC5wbmc%3D?status=valid"></a>
                </div>
              </div>
            </li>
          </ul>
          <div class="scriptContent">
            This service operates under the Antillephone License
            <a target="_blank" rel="nofollow"
              href="https://www.dmca.com/Protection/Status.aspx?ID=7218619b-9b4f-4997-82c8-a9a7803a98d8&amp;refurl=https://nuxsite1.nuxbet.com/"
              title="DMCA.com Protection Status" class="dmca-badge">
              <img rel="nofollow"
                src="https://images.dmca.com/Badges/_dmca_premi_badge_4.png?ID=7218619b-9b4f-4997-82c8-a9a7803a98d8"
                alt="DMCA.com Protection Status"></a>
            <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"></script>
          </div>
          <div>
          </div>
        </div>
      </div>
      <p class="copyWrites mobile">
        The website is owned and operated by Nuxgen B.V., with registration number 153051 and registered address at
        Fransche Bloemweg 4, Curacao.
      </p>
      <p class="copyWrites mobile">
        © 2021 Nuxgen B.V. All rights reserved.
      </p>
    </div>
  </div>
</footer>
